In [343]:
import pandas as pd

In [344]:
df = pd.read_csv("/home/magnus9102/Mostafa/Py/Github/data-science/mostafa_vahdani_bachelor_project/data/processed/flight_tickets_dataset.csv")

In [345]:
df2 = df.groupby(['company_name', 'flight_class_type'])["flight_class_type"].count()

In [335]:
df2["Jazeera"]
df2["Emirates"]
df2["Tailwind"]
df2["GlobalX"]

flight_class_type
EE    2
K     1
Name: flight_class_type, dtype: int64

In [341]:
df2["Corendon"]

flight_class_type
737Y    1
Name: flight_class_type, dtype: int64

In [346]:
def extract_corendon_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Corendon")
corendon_df = df[mask]
df.loc[mask, 'flight_class_type'] = corendon_df["flight_class_type"].apply(
    func=extract_corendon_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Corendon"]

flight_class_type
Y    1
Name: flight_class_type, dtype: int64

In [347]:
def extract_saha_class_code(x):
    if len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Saha")
saha_df = df[mask]
df.loc[mask, 'flight_class_type'] = saha_df["flight_class_type"].apply(
    func=extract_saha_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Saha"]

flight_class_type
YN    2
Name: flight_class_type, dtype: int64

In [348]:
def extract_nordwind_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Nordwind")
nordwind_df = df[mask]
df.loc[mask, 'flight_class_type'] = nordwind_df["flight_class_type"].apply(
    func=extract_nordwind_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Nordwind"]

flight_class_type
Y    8
Name: flight_class_type, dtype: int64

In [350]:
def extract_anadolujet_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Anadolujet")
anadolujet_df = df[mask]
df.loc[mask, 'flight_class_type'] = anadolujet_df["flight_class_type"].apply(
    func=extract_anadolujet_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Anadolujet"]

flight_class_type
Y    18
Name: flight_class_type, dtype: int64

In [351]:
def extract_sepehran_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Sepehran")
sepehran_df = df[mask]
df.loc[mask, 'flight_class_type'] = sepehran_df["flight_class_type"].apply(
    func=extract_sepehran_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Sepehran"]

flight_class_type
B     1
Y    19
Name: flight_class_type, dtype: int64

In [352]:
def extract_freebird_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Freebird")
freebird_df = df[mask]
df.loc[mask, 'flight_class_type'] = freebird_df["flight_class_type"].apply(
    func=extract_freebird_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Freebird"]

flight_class_type
Y    21
Name: flight_class_type, dtype: int64

In [353]:
def extract_chabahar_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Chabahar")
chabahar_df = df[mask]
df.loc[mask, 'flight_class_type'] = chabahar_df["flight_class_type"].apply(
    func=extract_chabahar_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Chabahar"]

flight_class_type
Y    28
Name: flight_class_type, dtype: int64

In [354]:
def extract_mavi_gok_class_code(x):
    return x[-1]


mask = (df['company_name'] == "MaviGok")
mavi_gok_df = df[mask]
df.loc[mask, 'flight_class_type'] = mavi_gok_df["flight_class_type"].apply(
    func=extract_mavi_gok_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["MaviGok"]

flight_class_type
Y    32
Name: flight_class_type, dtype: int64

In [355]:
def extract_fly_one_class_code(x):
    return x[-1]


mask = (df['company_name'] == "FlyOne")
fly_one_df = df[mask]
df.loc[mask, 'flight_class_type'] = fly_one_df["flight_class_type"].apply(
    func=extract_fly_one_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["FlyOne"]

flight_class_type
Y    34
Name: flight_class_type, dtype: int64

In [356]:
def extract_baghdad_class_code(x):
    if "Y" in x:
        return "Y"
    return None


mask = (df['company_name'] == "Baghdad")
baghdad_df = df[mask]
df.loc[mask, 'flight_class_type'] = baghdad_df["flight_class_type"].apply(
    func=extract_baghdad_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Baghdad"]

flight_class_type
Y    101
Name: flight_class_type, dtype: int64

In [357]:
def extract_arabia_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Arabia")
arabia_df = df[mask]
df.loc[mask, 'flight_class_type'] = arabia_df["flight_class_type"].apply(
    func=extract_arabia_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Arabia"]

flight_class_type
P    21
S    48
Y    57
Name: flight_class_type, dtype: int64

In [358]:
def extract_taban_class_code(x):
    if 'TOR' in x:
        return 'TOR'
    elif len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Taban")
taban_df = df[mask]
df.loc[mask, 'flight_class_type'] = taban_df["flight_class_type"].apply(
    func=extract_taban_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Taban"]

flight_class_type
C      27
CB      7
TOR     1
Y      93
Name: flight_class_type, dtype: int64

In [359]:
def extract_meraj_class_code(x):
    if len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Meraj")
meraj_df = df[mask]
df.loc[mask, 'flight_class_type'] = meraj_df["flight_class_type"].apply(
    func=extract_meraj_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Meraj"]

flight_class_type
L      5
Y    134
Name: flight_class_type, dtype: int64

In [364]:
def extract_turkish_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Turkish")
turkish_df = df[mask]
df.loc[mask, 'flight_class_type'] = turkish_df["flight_class_type"].apply(
    func=extract_turkish_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Turkish"]

flight_class_type
H      1
L      1
U      3
V      2
W      4
Y    192
Name: flight_class_type, dtype: int64

In [365]:
def extract_iraqi_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Iraqi")
iraqi_df = df[mask]
df.loc[mask, 'flight_class_type'] = iraqi_df["flight_class_type"].apply(
    func=extract_iraqi_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Iraqi"]

flight_class_type
C     35
J      6
Y    195
Name: flight_class_type, dtype: int64

In [366]:
def extract_karun_class_code(x):
    if 'TOR' in x:
        return 'TOR'
    elif len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Karun")
karun_df = df[mask]
df.loc[mask, 'flight_class_type'] = karun_df["flight_class_type"].apply(
    func=extract_karun_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Karun"]

flight_class_type
K      19
KE      2
LB      2
LE      5
M       7
ND      2
P      16
Q      15
S      24
TOR    75
W      29
Y      66
YD      1
Name: flight_class_type, dtype: int64

In [367]:
def extract_pegasus_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Pegasus")
pegasus_df = df[mask]
df.loc[mask, 'flight_class_type'] = pegasus_df["flight_class_type"].apply(
    func=extract_pegasus_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Pegasus"]

flight_class_type
G      4
P      3
T      5
U      4
V      1
X      1
Y    256
Z      3
Name: flight_class_type, dtype: int64

In [368]:
def extract_salam_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Salam")
salam_df = df[mask]
df.loc[mask, 'flight_class_type'] = salam_df["flight_class_type"].apply(
    func=extract_salam_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Salam"]

flight_class_type
Y    280
Name: flight_class_type, dtype: int64

In [370]:
def extract_zagros_class_code(x):
    if "BoeingMD" in x:
        return "Y"
    elif 'TOR' in x:
        return 'TOR'
    elif len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Zagros")
zagros_df = df[mask]
df.loc[mask, 'flight_class_type'] = zagros_df["flight_class_type"].apply(
    func=extract_zagros_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Zagros"]

flight_class_type
A        3
B       12
H        1
L        2
LB       3
LE       2
LH       4
M        2
O        4
SA      11
T       12
TOR     95
Y      214
YE       1
Name: flight_class_type, dtype: int64

In [371]:
def extract_kish_class_code(x):
    if len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Kish")
kish_df = df[mask]
df.loc[mask, 'flight_class_type'] = kish_df["flight_class_type"].apply(
    func=extract_kish_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Kish"]

flight_class_type
C      54
DY      5
PL      4
RB      6
RF     15
RH      5
RK      3
RL      1
RP     24
RR    236
RS      6
RV      1
RY      6
Y      29
Name: flight_class_type, dtype: int64

In [372]:
def extract_aseman_class_code(x):
    return x[-1]


mask = (df['company_name'] == "Aseman")
aseman_df = df[mask]
df.loc[mask, 'flight_class_type'] = aseman_df["flight_class_type"].apply(
    func=extract_aseman_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Aseman"]

flight_class_type
C     69
D     55
W     36
Y    305
Name: flight_class_type, dtype: int64

In [373]:
def extract_caspian_class_code(x):
    if "MDY" in x:
        return "Y"
    elif 'TOR' in x:
        return 'TOR'
    elif len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]

mask = (df['company_name'] == "Caspian")
caspian_df = df[mask]
df.loc[mask, 'flight_class_type'] = caspian_df["flight_class_type"].apply(
    func=extract_caspian_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Caspian"]

flight_class_type
B        1
D        1
E        3
H        1
I        1
J        4
L        5
M        4
N        3
Q        1
R        3
TOR     47
W       78
Y      339
ZB       3
ZF       1
Name: flight_class_type, dtype: int64

In [374]:
def extract_varesh_class_code(x):
    if 'TOR' in x:
        return 'TOR'
    elif len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Varesh")
varesh_df = df[mask]
df.loc[mask, 'flight_class_type'] = varesh_df["flight_class_type"].apply(
    func=extract_varesh_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Varesh"]

flight_class_type
B        3
EB       1
H        7
KH       2
KI       4
KL      20
L       10
M        1
MB       3
Q        2
S        4
TOR    100
Y      389
Name: flight_class_type, dtype: int64

In [375]:
def extract_ata_class_code(x):
    if 'TOR' in x:
        return 'TOR'
    elif len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "ATA")
ata_df = df[mask]
df.loc[mask, 'flight_class_type'] = ata_df["flight_class_type"].apply(
    func=extract_ata_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["ATA"]

flight_class_type
A        2
D        2
H        4
I        3
L       19
M        1
N        1
QO       2
TOR    129
X        1
Y      433
Name: flight_class_type, dtype: int64

In [376]:
def extract_iranair_class_code(x):
    if len(x) > 1 and x[-2].isalpha() and x[-2].isupper():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Iranair")
iranair_df = df[mask]
df.loc[mask, 'flight_class_type'] = iranair_df["flight_class_type"].apply(
    func=extract_iranair_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Iranair"]

flight_class_type
B       4
C       6
D       1
I       6
J      45
K      22
L       1
M      23
N       8
Q      20
RK      3
RQ      1
RS      3
RV     17
RY      3
S       1
V      49
W      26
Y     514
Name: flight_class_type, dtype: int64

In [377]:
def extract_armenia_class_code(x):
    m = x[-2:]
    if len(x) in [1, 2]:
        return x
    elif x.find("-") == -1 and x[-2].isalpha():
        return x[-2:]
    return x[-1]


mask = (df['company_name'] == "Armenia")
armenia_df = df[mask]
df.loc[mask, 'flight_class_type'] = armenia_df["flight_class_type"].apply(
    func=extract_armenia_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])[
    "flight_class_type"].count()
df2["Armenia"]

flight_class_type
K      46
KK     26
L      52
LL     25
M      24
M2      6
MM     13
N      38
NN     18
Q     101
QQ     57
R     129
RR     76
T      51
TT     28
X      77
XX     40
Y     104
YY     66
Name: flight_class_type, dtype: int64

In [378]:
def extract_airtour_class_code(x):
    if "Y" in x:
        return x[x.index("Y"):]
    return x[-1]


mask = (df['company_name'] == "Airtour")
airtour_df = df[mask]
df.loc[mask, 'flight_class_type'] = airtour_df["flight_class_type"].apply(func=extract_airtour_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])["flight_class_type"].count()
df2["Airtour"]

flight_class_type
C         3
J       182
Y       901
Y17       2
Y26       2
Y29       1
Y31       9
Y33       6
Y34       2
Y35       2
Y36       4
Y37       3
Y39       7
Y41       5
Y42       2
Y43       2
Y45       3
Y47      13
Y489      6
Y49       2
Y491      8
Y492      4
Y493     19
Y51       6
Y53       5
Y54       2
Y55      11
Y56       4
Y57       2
Y7        2
Name: flight_class_type, dtype: int64

In [379]:
def extract_dubai_class_code(x):
    if "FS" in x:
        return "FS"
    return x[-1]


mask = (df['company_name'] == "Dubai")
dubai_df = df[mask]
df.loc[mask, 'flight_class_type'] = dubai_df["flight_class_type"].apply(func=extract_dubai_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])["flight_class_type"].count()
df2["Dubai"]

flight_class_type
C       16
FS     101
N        5
Y     1184
Name: flight_class_type, dtype: int64

In [380]:
def extract_qeshm_class_code(x):
    return x[-1]

mask = (df['company_name'] == "Qeshm")
qeshm_df = df[mask]
df.loc[mask, 'flight_class_type'] = qeshm_df["flight_class_type"].apply(func=extract_mahan_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])["flight_class_type"].count()
df2["Qeshm"]

flight_class_type
A     640
B     172
C     412
E       7
H     183
J      88
K     184
L     122
M      90
N      58
Q      32
R       4
S     138
V      10
W     349
X       2
Y    1053
Z      36
Name: flight_class_type, dtype: int64

In [381]:
def extract_mahan_class_code(x):
    if len(x) == 2:
        return x
    return x.split("_")[0][-1]


mask = (df['company_name'] == "Mahan")
mahan_df = df[mask]
df.loc[mask, 'flight_class_type'] = mahan_df["flight_class_type"].apply(func=extract_mahan_class_code)

df2 = df.groupby(['company_name', 'flight_class_type'])["flight_class_type"].count()
df2["Mahan"]

flight_class_type
B      13
BH      2
C     338
E       8
P       8
W     162
Y     811
Name: flight_class_type, dtype: int64

In [ ]:
df.to_csv("/home/magnus9102/Mostafa/Py/Github/data-science/mostafa_vahdani_bachelor_project/data/processed/flight_tickets_dataset.csv", index=False)