In [9]:
import pandas as pd

In [10]:
processed_dataset_path = "/home/magnus9102/Mostafa/Py/Github/data-science/mostafa_vahdani_bachelor_project/data/interim/build_features_flight_tickets_dataset.csv"

In [11]:
df = pd.read_csv(processed_dataset_path)

In [12]:
df.drop(["departure_city",
         "arrival_city",
         "company_name",
         "flight_sale_type",
         "fare_class_code",
         "dep_flight_time"],
        inplace=True,
        axis=1)

In [13]:
# Correlation Matrix
df.corr()

                ticket_price_T  year     month       day  duration_sec
ticket_price_T        1.000000   NaN  0.208362 -0.110827      0.405100
year                       NaN   NaN       NaN       NaN           NaN
month                 0.208362   NaN  1.000000 -0.640668      0.129460
day                  -0.110827   NaN -0.640668  1.000000     -0.073003
duration_sec          0.405100   NaN  0.129460 -0.073003      1.000000

In [7]:
# Covariance Matrix
df.cov()

,orthodromic_distance_KM,ticket_price_T,year,month,day,duration_sec
orthodromic_distance_KM,3.482019e+05,1.092806e+09,0.0,48.789346,-4.024775e+02,1.356369e+06
ticket_price_T,1.092806e+09,2.047074e+13,0.0,596124.992373,-4.610817e+06,4.265674e+09
year,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,0.000000e+00
month,4.878935e+01,5.961250e+05,0.0,0.399855,-3.725214e+00,1.905223e+02
day,-4.024775e+02,-4.610817e+06,0.0,-3.725214,8.455404e+01,-1.562303e+03
duration_sec,1.356369e+06,4.265674e+09,0.0,190.522330,-1.562303e+03,5.416473e+06

In [8]:
df.describe()

,orthodromic_distance_KM,ticket_price_T,year,month,day,duration_sec
count,13947.000000,1.394700e+04,13947.0,13947.000000,13947.000000,13947.000000
mean,1197.989030,7.323801e+06,1402.0,5.694271,18.196100,9770.793719
std,590.086358,4.524460e+06,0.0,0.632341,9.195327,2327.331682
min,175.000000,7.609000e+05,1402.0,5.000000,1.000000,4680.000000
25%,753.000000,4.778324e+06,1402.0,5.000000,10.000000,8040.000000
50%,1200.000000,7.000000e+06,1402.0,6.000000,20.000000,9540.000000
75%,1535.000000,9.121082e+06,1402.0,6.000000,26.000000,11340.000000
max,3101.000000,5.516013e+07,1402.0,7.000000,31.000000,17760.000000